*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
font-family: 'Red Hat Display', sans-serif;

}

body{
  position: relative;
  background-image: url("./pattern-background-desktop.svg");
 
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(225, 100%, 94%);
 
}
#container{
 position: absolute;
 height: 92vh;
 font-size: small;
 width: 27%;
 top:19rem;
 left: 50%;
 transform: translate(-50%,-50%);
 background-color:#fff;
 border-radius: 10px;
  
}
.div1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  background-image: url("./illustration-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
 background-position: center;
  border-radius: 10px 10px 0 0;
}
.div2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#summary-title{
 flex-basis: 20%;
text-align: center;
 padding: 2rem;

}
#summary-title>h1{
 color:#002B5B;
  margin-bottom: 10px;
font-size: 25px;
 font-weight: 900; 
 text-transform: capitalize;
}
#summary-title>p{
  color:#a7a7a7;
  margin-top: 10px;
  font-size: 15px;
}
#plan-record{
  width: 85%;
  padding: 1rem;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content:space-between;
  align-items: center;
   background-color: hsl(223, 33%, 96%); 
 
}

.plan-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
}
#annual>:first-child{
  color: black;
  text-transform: capitalize;
  margin-bottom: 2px;
  font-weight: 600;
}
#annual:nth-child(2){
  color: #777777;
}
#proceed-to-payment{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  gap: 30px;
}
#proceed-to-payment>h2{
font-size: 15px;
  color: #777777;
 
}
.pay{
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  background-color: blue;
width: 85%;
 color: white;
 padding: 15px;
 border-radius: 15px;
 box-shadow: 0px 10px 10px 0px  hsla(225, 72%, 43%, 0.459);
 border: none;
}

