* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;

  font-family: "Montserrat", sans-serif;
}
.container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2rem;
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  box-shadow: 10px 0px 10px;
  border-radius: 20px;
}
.box-1 {
  background-color: rgb(68, 68, 204);
  height: 70vh;
  width: 50%;
  text-align: center;
  padding: 3rem;
  border-radius: 20px;
}
.result {
  margin-top: 1rem;
  color: white;
  text-transform: capitalize;
  font-size: 20px;
}
.box-1 h1 {
  background-color: rgb(61, 42, 165);
  padding: 2rem;
  border-radius: 50%;
  text-align: center;
  font-size: 50px;
  width: 60%;
  margin: auto;
  color: white;
  margin-top: 3rem;
}
.box-1 h2 {
  color: white;
  margin-top: 20px;
  text-transform: capitalize;
}
.p {
  color: white;
  margin-top: 30px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
}
.box-2 {
  height: 70vh;
  width: 50%;
  text-align: center;
}

.box-2 p {
  margin-left: 20px;
  margin-top: 2px;

  display: block;
  padding: 20px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.box-2 > div p:nth-child(1) {
  color: brown;
  background-color: rgb(245, 228, 234);
  border-radius: 20px;
}
.box-2 > div p:nth-child(2) {
  color: yellow;
  background-color: rgb(231, 238, 200);
  border-radius: 20px;
}
.box-2 > div p:nth-child(3) {
  color: green;
  background-color: rgb(159, 226, 182);
  border-radius: 20px;
}
.box-2 > div p:nth-child(4) {
  color: navy;
  background-color: rgb(209, 209, 235);
  border-radius: 20px;
}

.box-2 h1 {
  color: grey;
  font-size: 20px;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.box-2 a {
  text-decoration: none;
  color: white;
  display: block;
  background-color: navy;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
span {
  margin-left: 80px;
}
